<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <style>
        .item-customed {
            margin: 5px;
            color: #96939a;
        }
    </style>
    <ul class="nav nav-pills pull-right">
    </ul>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" th:unless="${session.member_id}">Won Mart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" th:if="${session.member_id}">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/post">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/info">My Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mypost">Uploaded Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post">Mailbox</a>
                </li>
            </ul>
            <li class="nav-item dropdown btn">
                <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #1e7e34">
                    Enter Mart
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item item-customed" href="/post">Buy</a>
                    <a class="dropdown-item item-customed" href="/post/new">Sell</a>
                    <a class="dropdown-item item-customed" href="/logout">Exit</a>
                </div>
            </li>
        </div>
    </nav>
</div>