<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" itemscope itemtype="http://schema.org/Article">
<head th:replace="fragments/header :: header">
<head>
    <title>Won Mart</title>
    <meta charset="UTF-8" />
</head>
<body>

<!-- BEGIN Pre-requisites -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<!-- END Pre-requisites -->
<script text="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script text="text/javascript">

    function start() {
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
                client_id: '73226585392-7vn0ueqgu87m34r4iur00sura4a6njtk.apps.googleusercontent.com',
                // Scopes to request in addition to 'profile' and 'email'
                //scope: 'additional_scope'
            });
        });
    }

    $(function(){
        $('#googleSignIn').click(function(){
            auth2.grantOfflineAccess().then(signInCallback);
        });
    });

</script>

<div class="container">
<!--    <div th:replace="fragments/bodyHeader :: bodyHeader" />-->

    <style>
        .icon {
            width: 37px;
            height: 37px;
            margin: 3px;
        }

        :root {
            --input-padding-x: 1.5rem;
            --input-padding-y: 0.75rem;
        }

        .login,
        .image {
            min-height: 95vh;
        }

        .bg-image {
            background-image: url('/img/background_2.jpg');
            background-size: cover;
            background-position: center;
        }

        body {
            background: #fffeff;
        }

        .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .card-signin .card-title {
            margin-bottom: 2rem;
            font-weight: 300;
            font-size: 1.5rem;
        }

        .card-signin .card-body {
            padding: 2rem;
        }

    </style>

    <div class="container-fluid card card-signin">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-3 col-lg-8 bg-image"></div>
            <div class="col-md-9 col-lg-4">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">

                                <h1 class="mb-4">Won Mart</h1>

                                <div style="margin-bottom: 10px;">
                                    <a class="btn btn-light" style="border-radius: 1rem;">나눌수록 행복한 중고거래!</a>
                                </div>
                                <div style="margin-bottom: 25px;">
                                    <a class="btn btn-light" style="border-radius: 1rem;">빠르고, 안전하고, 간편하게!</a>
                                </div>

                                <div class="text-left" data-onsuccess="onSignIn"  style="margin-bottom: 5px;">
                                    <a class="small" href="#">Login with Socials</a>
                                </div>
                                <div>
                                    <a id="googleSignIn">
                                        <img class="icon" src="/img/icon_google.png">
                                    </a>
                                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=46755ba94eb707cd876dbfd1b716ceab&redirect_uri=http://localhost:8080/kakaoLogin&response_type=code">
                                        <img class="icon" src="/img/icon_kakao.png">
                                    </a>
                                    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=2cUCbzWwkKNT41u9QWhB&redirect_uri=http://localhost:8080/naverLogin">
                                        <img class="icon" src="/img/icon_naver.png">
                                    </a>
                                    <a href = "https://www.facebook.com/v6.0/dialog/oauth?client_id=888171918306283&redirect_uri=http://localhost:8080/facebookLogin&state={st=state123abc,ds=123456789}";>
                                        <img class="icon" src="/img/icon_facebook.png">
                                    </a>
                                </div>

                                <script>

                                </script>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div th:replace="fragments/footer :: footer" />-->
</div>

<script>
    function signInCallback(authResult) {

        if (auth2.isSignedIn.get()) {
            var profile = auth2.currentUser.get().getBasicProfile();
            var form = {
                id : profile.getId(),
                name : profile.getName(),
                email : profile.getEmail()
            };

            $.ajax({
                url: '/googleLogin',
                method: 'POST',
                type : 'json',
                // Always include an `X-Requested-With` header in every AJAX request,
                // to protect against CSRF attacks.
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                contentType: 'application/json',
                data: JSON.stringify(form),
                success: function(result) {
                    // Handle or verify the server response.
                    console.log(result);
                    if (result === "False") {
                        window.location.href = '/member/new';
                    } else {
                        window.location.href = '/post';
                    }
                }
            });
        }
        // https://developers.google.com/identity/sign-in/web/sign-in
    }
</script>

</body>
</html>