<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="messaging">
        <div class="inbox_msg">

            <div class="mesgs fixDown" id="fixDown">

                <div th:each="letter : ${letters}" class="msg_history">
                    <div th:if="${letter.sender} != ${session.nickName}" class="incoming_msg">
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p th:text="${letter.body}"></p>
                                <span th:text="${#temporals.format(letter.letterTime, 'yyyy-MM-dd HH:mm')}" class="time_date"></span>
                            </div>
                        </div>
                    </div>
                    <div th:if="${letter.sender} == ${session.nickName}" class="outgoing_msg">
                        <div class="sent_msg">
                            <p th:text="${letter.body}"></p>
                            <span th:text="${#temporals.format(letter.letterTime, 'yyyy-MM-dd HH:mm')}" class="time_date"></span>
                        </div>
                    </div>
                </div>

                <div class="type_msg">
                    <div class="input_msg_write">
                        <a th:href="@{/letter/{receiver_id}/new (receiver_id=${receiver_id})}" class="btn btn-outline-success rounded-0" style="margin-top: 10px">쪽지 보내기</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
<script>
    $(document).ready(function () {
        $("#fixDown").scrollTop($("#fixDown")[0].scrollHeight);
    });
</script>
</body>
</html>